* {
    background-color: black;
    color: white
}

div{
    font-family: "Libre Baskerville", serif;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 15%;
}

h1 {
    text-transform: uppercase;
}

img {
    border: 5px solid white;
    width: 100%;
}